<%- include("partials/header") %>

<div class="container text-center">
    <h2 class="fw-bold mb-4">MCA Semesters</h2>

    <div class="row justify-content-center g-4">

        <div class="col-md-3">
            <a href="/mca/sem1" class="btn btn-primary w-100 p-3">
                Semester 1
            </a>
        </div>

        <div class="col-md-3">
            <a href="/mca/sem2" class="btn btn-success w-100 p-3">
                Semester 2
            </a>
        </div>

        <div class="col-md-3">
            <a href="/mca/sem3" class="btn btn-warning w-100 p-3">
                Semester 3
            </a>
        </div>

    </div>
</div>

<%- include("partials/fotter") %>

